label {
  color: #b3a695;
  display: inline-block;
  margin-bottom: 8px;
}

.dropdown-select {
  width: 70%;
  padding: 12px 20px;
  margin: 0 0 8px;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  appearance: none;
  text-align-last: center;
}

/* Small breakpoint */
@media only screen and (max-width: 767px) {
  
}

/* X-Small breakpoint */
@media only screen and (max-width: 575px) {
  .dropdown-select {
    font-size: 0.75rem;
    padding: 8px 8px;
  }
}