label {
  color: #b3a695;
  display: inline-block;
  margin-bottom: 8px;
}

.dropdown-select {
  width: 80%;
  padding: 12px 20px;
  margin: 0 0 16px;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  appearance: none;
}