@media only screen and (max-width: 500px) {
  #submit-inventory {
    position: relative;
    bottom: 10px;
  }
  .submission-button {
    margin: 0;
    position: relative;
    bottom: 5px;
  }
  .selection-button {
    width: 60px;
    padding: 10px;
  }
}

@media only screen and (max-width: 460px) {
  #Liqueurs {
    padding-left: 7px;
  }
}

#cocktail-form {
  background-color: rgba(63, 1, 35, 0.7);
  width: 80%;
  max-width: 700px;
}

form {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
  
select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  appearance: none;
}

label {
  color: #b3a695;;
}
  
button {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-style: italic;
}

.selection-button {
  width: 20%;
}
  
form button:hover {
  background-color: #333;
}