@media only screen and (max-width: 500px) {
  #cocktail-form {
    width: 450px;
  }
  #submit-inventory {
    position: relative;
    bottom: 10px;
  }
  .submission-button {
    margin: 0;
    position: relative;
    bottom: 5px;
  }
  .selection-button {
    width: 60px;
    padding: 10px;
  }
}

@media only screen and (max-width: 460px) {
  #cocktail-form {
    width: 400px;
  }
  #Liqueurs {
    padding-left: 7px;
  }
}

body {
    background-color: #722f37;
  }

form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
  
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  appearance: none;
}

label {
  color: #b3a695;;
}
  
button {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-style: italic;
}

.selection-button {
  width: 20%;
}
  
form button:hover {
  background-color: #333;
}