.remove-button {
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  cursor: pointer;
  width: 10%;
  height: auto;
}

.inventory-list li {
  display: flex;
  width: 90%;
  align-items: center;
}

/*.inventory-list li .ingredient-cell {
  width: 50%;
  padding: 12px 20px;
  margin: 0 0 8px;
  border-color: #b3a695;
  border-width: 2px;
  border-style: solid;
}*/

.inventory-list li {
  max-height: none;
  padding-bottom: 0;
}

.inventory-heading {
  font-style: italic;
  font-size: 1rem;
  margin: .5rem 0;
}

.button-heading {
  width: 10%;
}

.ingredient-cell {
  width: 50%;
}

.right-text {
  padding-right: 25%;
}

/* Small breakpoint */
@media only screen and (max-width: 767px) {
  .inventory-heading {
    font-size: 0.875rem;
  }
}

/* X-Small breakpoint */
@media only screen and (max-width: 575px) {
  .inventory-heading {
    font-size: 0.75rem;
  }
}