#Inventory {
  background-color: rgba(63, 1, 35, 0.7);
  width: 80%;
  margin: auto;
  max-width: 700px;
}

@media only screen and (max-width: 500px) {
  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  li {
    height: auto;
  }
  li button {
    margin: 0;
  }
}

ul {
  margin-top: 0;
}

h2, li {
  color: #b3a695;
  font-family: 'GB Gormand';
}

h2 {
  text-decoration: underline;
}

li button{
  border: none;
  width: 10px;

}

li {
  list-style-type: none;
}