.ingredient-locator {
  border-color: #b3a695;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(63, 1, 35, 0.7);
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.ingredient-cell {
  width: 50%;
}

#ingredient-locator-heading {
  padding: 8px;
  margin: 0;
}

.user-interface, .inner-list-wrapper {
  display: flex;
  align-items: flex-end;
}
