.App {
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 5% 10% 10% 10%;
  background-image: url('../../../public/igor-stepanov-rNKKUsIJNd4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  background-color: rgba(63, 1, 35, 0.7);
  width: 100%;
  max-width: 700px;
  margin: 16px auto;
  padding: 8px 0;
  height: 500px;
  overflow-y: scroll;
}

.section-heading {
  padding: 16px;
  color: #b3a695;
  font-family: 'GB Gormand';
  text-decoration: underline;
  margin-bottom: 16px;
}

.standard-text {
  color: #b3a695;
  font-family: 'GB Gormand';
}

li {
  padding-bottom: 8px;
  min-height: 32px;
  position: relative;
}

.App-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-box {
  display: flex;
  flex-direction: column;
  width: 32%;
}

@media only screen and (max-width: 1150px) {
  .App-main {
    align-items: center;
    flex-direction: column;
  }
  .flex-box {
    width: 100%;
  }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}