.App {
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 5% 0 10% 0;
  background-image: url('../../../public/igor-stepanov-rNKKUsIJNd4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  background-color: rgba(63, 1, 35, 0.7);
  width: 80%;
  max-width: 700px;
  margin: 16px auto;
  padding: 8px 0;
}

.section-heading {
  color: #b3a695;
  font-family: 'GB Gormand';
  text-decoration: underline;
}
