.main {
  background-color: rgba(63, 1, 35, 0.7);
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.main-table, th, td, tr {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.main-table {
  width: 100%;
}