.recommendations-list {
  margin: auto;
  width: 80%;
}

@media only screen and (max-width: 1150px) {
  .recommendations-list {
    max-width: 70%;
    margin: auto;
  }
}

.loading-message, .no-recs-message {
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  margin: 16px;
}