@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');

@media only screen and (min-width: 761px) {
  .title {
    font-size: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .tagline {
    font-size: 30px;
  }
}

@media only screen and (max-width: 760px) {
  .title {
    font-size: 80px;
  }
  .tagline {
    font-size: 25px;
  }
}

@media only screen and (max-width: 620px) {
  .title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 460px) {
  .title {
    font-size: 45px;
  }
  .tagline {
    font-size: 20px;
  }
}

.header {
  color: #b3a695;
  font-family:'EB Garamond', 'Adobe Garamond', Georgia;
  font-style: italic;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 0;
}