footer {
  background-color: rgba(63, 1, 35, 1);
  width: 100%;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.footer-list li {
  padding: 16px 8px;
}