.recommendation {
  max-width: 90%;
  margin: auto;
}

.recommendation-title {
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 8px;
}

.display-info-button {
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  margin-right: 16px;
  float: right;
}