.submission-button:hover {
  background-color: #333;
}

.submission-button {
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 2px solid #b3a695;
  border-radius: 4px;
  background-color: transparent;
  color: #b3a695;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  cursor: pointer;
  font-style: italic;
}